.right_more{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
.help_message_title{
    font-size: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    padding:5px;
}
.sno_help{
    float: right;
}
.title_help{
    margin-left: 10px;
}
.detail_title{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0483d4;
    line-height: 60px;
    padding-left: 100px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    min-height: 60px;
}
.fu-title{
    font-size: 20px;
    text-align: right;
}
.people-account{
    font-size: 13px;
    display: inline-block;
    padding-right: 20px;
}
.send-time{
    font-size: 13px;
    display: inline-block;
}
.article-content{
    font-size: 20px;
    margin-top: 20px;
}
.operation{
    font-size: 14px;
    text-align: right;
    margin-top: 20px;
}
.mess-status{
    font-size: 13px;
    display: inline-block;
}
.new_course_search_div{
    margin-bottom: 30px;
}
.tno-search{
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    height: 34px;
}
.college-search{
    width: 30%;
    display: inline-block;
}
.search_btn{
    height: 34px;
    position: relative;
    bottom: 2px;
}
